{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude":["coverage"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    }
  },
  "module": {"type": "commonjs"},
  "minify": true,
  "sourceMaps": true
}